:root{
    --color1: #67daff;
    --color2: #ffffff;
    --color3: #007ac1;
    --color4: #c4c4c4;
    --color5: #000000;
    --color6: #c3f5ff;
    --color7: rgba(255, 255, 255, 0);
}

*{
    font-family: 'Montserrat', sans-serif;
}

.navbar{
   background-color: var(--color2);
   box-shadow: 5px 0px 10px #888888;
   --bs-navbar-color: var(--color1);
   --bs-navbar-hover-color: var(--color3);
   --bs-navbar-brand-color: var(--color5);
   --bs-navbar-brand-font-size: 36px;
   --bs-nav-link-font-size: 18px;
   --bs-navbar-active-color: var(--color3);
   --bs-navbar-toggler-color: var(--color1)
}

.form-container{
    border-radius: 5px;
    color: #7a7a7a;
    background-color: #cdcdcd;
    font-size: 18px;
}

input{
    background-color: var(--color7);
    border: 0px;
    width: 9rem;
}

input:focus
{
         outline: none;
}
.navbar-toggler:focus
{
         outline: none !important;
         box-shadow: none;
}


/* CAROUSEL INICIO */

.boton-carousel {
    background-color: var(--color1);
    border-radius: 5px;
}

.carousel-caption {
    width: 40%;
}

/* CAROUSEL FIN */


.productos-home {
    background-color: var(--color3);
   
}

.productos-home-titulo {
    color: var(--color2);
}

.productos-home-parrafo {
    color: var(--color2);
}

.productos-home a {
    background-color: var(--color2);
    color: var(--color5);
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}


.nosotros-home {
    background-color: var(--color6);
}
.nosotros-home img {
    height: 60%;
    width: 60%;
    border-radius: 10px;
}

.titulo-nosotros-home {
    font-size: 36px;
}

.potencia-negocio-home {
    background-color: var(--color2);

}

.potencia-negocio-boton {
    background-color: var(--color3);
    color: var(--color2);
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

.potencia-negocio-home h3{
    font-size: 36px;
}

.potencia-negocio-home img {
    height: 80%;
    width: 80%;
}


/* FOOTER */

.footer {

    background-color: var(--color4);
    --bs-navbar-brand-color: var(--color5);
    --bs-navbar-brand-font-size: 36px;
    --bs-texto-footer-font-size: 18px;
    --bs-nav-link-font-size: 18px;
}

.texto-footer-titles {
    font-weight: bold;
}

.nav-link-footer {
    color: var(--color5);
}

.nav-link-footer:hover {
    color: var(--color2);
}

.img-footer {
    width: 50px;
    height: 25px;
}

.img-wp {
    width: 50px;
    height: 50px;
}


  

  
  
  

  
  